<div class="animated fadeIn">

  <!-- Upper Cards -->
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <div class="text-value">{{products.Products}}</div>
          <div>Products in Stock</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;"></div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="text-value">GHC | {{sales.Sales}}</div>
          <div>Successful Sales</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;"></div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <div class="text-value">{{orders.Orders}}</div>
          <div>Lifetime Orders</div>
        </div>
        <div class="chart-wrapper mt-3" style="height:70px;"></div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div class="text-value">{{users.Users}}</div>
          <div>Users</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;"></div>
      </div>
    </div>
  </div>
</div>
