<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-4 col-md-8">
            <div class="card">
                <div class="card-header">
                    User Requests
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead class="text-uppercase">
                            <th>Request ID</th>
                            <th>User Name</th>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
