<!-- <p>permissions works!</p> -->
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-4 col-md-4">
      <div class="card">
        <div class="card-header">Store Manager Permissions</div>
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>User Name</th>
              </tr>
            </thead>
            <tbody *ngIf="storeManager.length > 0; else noData">
              <tr *ngFor="let s of storeManager">
                <td>SM-{{ s.id }}</td>
                <td>{{ s.userName | titlecase }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- User Permissions-->
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header">
          Enabled Permissions
        </div>
        <div class="card-body">
          <tabset>
            <tab>
              <ng-template tabHeading>
                <i class="fa fa-info-circle text-muted">Permissions</i>
              </ng-template>
              <form [formGroup]="storeManagersPermForm">
                <div class="row">
                  <div class="col">
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label">Add Products</label>
                      <div class="col-md-9 col-form-label">
                        <label class="switch switch-3d switch-primary">
                          <input type="checkbox" class="switch-input" formControlName="addProduct">
                          <span class="switch-slider"></span>
                        </label>
                        &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;
                        <label class="switch switch-3d switch-secondary">
                          <input type="checkbox" class="switch-input" formControlName="addProduct">
                          <span class="switch-slider"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col">
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label">Edit Product</label>
                      <div class="col-md-9 col-form-label">
                        <label class="switch switch-3d switch-primary">
                          <input type="checkbox" class="switch-input" formControlName="editProduct">
                          <span class="switch-slider"></span>
                        </label>
                        &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;
                        <label class="switch switch-3d switch-secondary">
                          <input type="checkbox" class="switch-input" formControlName="editProduct">
                          <span class="switch-slider"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col">
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label">Add Category</label>
                      <div class="col-md-9 col-form-label">
                        <label class="switch switch-3d switch-primary">
                          <input type="checkbox" class="switch-input" formControlName="addCategory">
                          <span class="switch-slider"></span>
                        </label>
                        &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;
                        <label class="switch switch-3d switch-secondary">
                          <input type="checkbox" class="switch-input" formControlName="addCategory">
                          <span class="switch-slider"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col">
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label">Edit Category</label>
                      <div class="col-md-9 col-form-label">
                        <label class="switch switch-3d switch-primary">
                          <input type="checkbox" class="switch-input" formControlName="editCategory">
                          <span class="switch-slider"></span>
                        </label>
                        &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;
                        <label class="switch switch-3d switch-secondary">
                          <input type="checkbox" class="switch-input" formControlName="editCategory">
                          <span class="switch-slider"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </tab>
          </tabset>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-sm btn-primary pull-right">
            Save Permissions
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #noData>
  <p>No Data</p>
</ng-template>