<!-- <p>permissions works!</p> -->
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg col-lg-12 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-header">Store Manager Permissions</div>
        <div class="card-body">
          <table class="table table-responsive-sm">
            <thead>
              <tr>
                <th>ID</th>
                <th>User Name</th>
                <th>Contact</th>
                <th>Email</th>
                <th>Branch</th>
              </tr>
            </thead>
            <tbody *ngIf="storeManager.length > 0; else noData">
              <tr *ngFor="let s of storeManager">
                <td>SM-{{ s.id }}</td>
                <td>{{ s.userName | titlecase }}</td>
                <td>{{ s.contactNo }}</td>
                <td>{{ s.email }}</td>
                <td>Osu</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #noData>
  <p>No Data</p>
</ng-template>
